
<%
// adds default data usign "theme/aircv/scripts/defaultData.js" helper
let sponsors = (site.data.sponsors !== undefined) ? site.data.sponsors : defaultData('sponsors');
%>

<!-- Sponsors -->
<div id="sponsors" class="bg-color-sky-light">
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-12">
              <div class="margin-b-40">
                <h2 class="margin-b-0"><%- sponsors.title %></h2>
                  <p><%- sponsors.subtitle %></p>
              </div>
              <%- partial('masonry_grid') %>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- Sponsors -->
