/*------------------------------------------------------------------
  	[Sponsor]
------------------------------------------------------------------*/

.sponsor {
	@include position(relative);
	display: block;

	.sponsor-element,
	.sponsor-info {
		@include translate3d(0,0,0);
		@include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
	}

	.sponsor-element {
		background: $color-white;
		min-width: 220px;
		min-height: 250px;
		margin: 1% 2%;
	}

	.sponsor-icon {
		display: block;
		@include font($size: 30px);
		color: $color-link-hover;
		margin-bottom: 30px;
	}
    
    .sponsor-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 170px;
		min-height: 170px;
		object-fit: scale-down;
    }

	.sponsor-info {
		text-align: center;
	}
    
	.sponsor-button {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;
	}

	&:hover {
		.sponsor-info {
			@include translate3d(0,-20%,0);
			@include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
		}

		.sponsor-button {
			visibility: visible;
  			opacity: 1;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.sponsor {
		.sponsor-button {
			visibility: visible;
			opacity: 1;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.sponsor-item {
		width: 100%;
	}
}