// ==================================
// Typography
// ==================================
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base:                                              		Hind, sans-serif !default; // Hind font family
$font-family-sl-icons:                                              	Simple-Line-Icons !default; // Simple Line Icons third-party icons plugin

// Colors
$color-base:                                                            #17bed2 !default; // Iris Blue
$color-white:                                                           #fff !default;    // white
$color-red:                                                             #ff0000 !default; // red for tests
$color-vulcanGrey:                                                      #353a41 !default; // vulcan grey
$color-blueGrey:                                                        #1A2029 !default; // blue charcoal
$color-heading:                                                        	#515769 !default; // dark Grey with dull violet
$color-subtitle:                                                        #67696d !default; // medium Grey
$color-separator:                                                       #d5d9e0 !default; // lightBlue Grey
$color-link:                                                          	#5476f3 !default; // lightBlue cyan
$color-link-hover:                                                      #3651b6 !default; // Faux-Violet-blue
$color-sky-light:                                                      	#fafafa !default; // snow


// ==================================
// Media queries breakpoints
// ==================================
//
//Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs-min:                											480px !default;

// Small screen / tablet
$screen-sm-min:                											768px !default;

// Medium screen / desktop
$screen-md-min:                											992px !default;

// Large screen / wide desktop
$screen-lg-min:                											1200px !default;

// Large scree / wider desktop
$screen-lg-med:                     									1260px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:             											($screen-sm-min - 1) !default;
$screen-sm-max:                											($screen-md-min - 1) !default;
$screen-md-max:                											($screen-lg-min - 1) !default;